.todo-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.todo-title{
    font-size: 30px;
    font-weight: 700;
    color: orange;
    margin-bottom: 10px;
}
.input{
    padding: 5px;
    margin-right: 10px;
}
.btn{
    padding: 5px;
    background-color: rgb(106, 183, 230);
    border: none;
}
.todo-data{
    width: 500px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filte r 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
 .logo {
    animation: logo-spin infinite 20s linear;
  }
}
